<h1>Welcome to your dashboard!</h1>

{{#each myEntries as |entry|}}
    <div class="card entry-card col-10">
        <div class="card-body">
             <h5 class="card-title entry-card-title"><a href="/dashboard/entries/{{entry.id}}">{{entry.entry_title}}</a></h5>
             <h6 class="card-subtitle mb-2 text-muted">Posted by {{entry.user.username}} on {{entry.createdAt}}</h6>
            <p class="card-text">{{entry.entry_text}}</p>
        </div>
    </div>
{{/each}}


<div> 
 <a href="/dashboard/add" id="start-new-entry-button">Add New Entry</a>
</div> 